<style>
  .site-header {
    background-color: #1F4E79 !important;
    border-top: none !important;
  }

  .site-title,
  .site-title:visited {
    color: #ffffff !important;
  }

  .site-nav .page-link {
    color: #ffffff !important;
  }

  .site-nav .page-link:hover {
    color: #BDD7EE !important;
  }

  h1, h2, h3 {
    color: #1F4E79 !important;
  }

  a {
    color: #2E75B6 !important;
  }

  a:hover {
    color: #1F4E79 !important;
  }

  .site-footer {
    border-top: 3px solid #2E75B6 !important;
  }
</style>
